main {
    border: solid;
    height: 90vh;
    display: flex;
    padding: 4px;
}

button {
    grid-column: 1 / span 3;
}

.colors{
    background-color: rgb(234, 222, 222);
    height: 100%;
    width: 20%;
    display: grid;
    grid-template-columns: repeat(3,30%);
    grid-template-rows: repeat(8, 1fr);
    gap: 5px;
}

.board{
    background-color: rgb(234, 222, 222);
    height: 100%;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(60, 1fr);
    grid-template-rows: repeat(30, 1fr);
    gap: 1px;
}

.boardDivs{
    background-color: white;
}