.main{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
 
}
.converter{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50vh;
}
.amount{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}

.result{
    border: solid black 1px;
    width: 20vw;
    padding: 10px;
}